@import 'nuclides/reset';
@import 'nuclides/colors';
@import 'nuclides/constants';

html {
  box-sizing: border-box;
  background: $grey;
  color: $black;
  font-size: 16px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
}

p {
  margin-bottom: 10px;
}

button {
  -webkit-appearance: none;
  border: 2px solid $black;
  background-color: $white;
  padding: 5px 15px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.btn {
    transition: background-color .2s ease, color .2s ease;

    &:hover {
      background-color: $black;
      color: $white;
    }

    &--alt {
      background-color: $black;
      color: $white;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }

    &--lg {
      font-size: 1.2em;
      padding: 8px 20px;
    }
  }
}

select {
  outline: none;
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity .2s ease;
  }

  &-enter,
  &-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
