<template lang="html">
  <div class="add-wine">
    <div class="add-wine__form">
      <div class="add-wine__form__group">
        <label for="name">Name<sup>*</sup></label><br>
        <input type="text" name="name" v-model="form.name" ref="name" />
      </div>
      <div class="add-wine__form__group">
        <label for="year">Year<sup>*</sup></label><br>
        <input type="number" name="year" v-model="form.year" ref="year" />
      </div>
      <div class="add-wine__form__group">
        <label for="producer">Producer<sup>*</sup></label><br>
        <input type="text" name="producer" v-model="form.producer" ref="producer" />
      </div>
      <div class="add-wine__form__group">
        <label for="region">Region</label><br>
        <input type="text" name="region" v-model="form.region" ref="region" />
      </div>
      <div class="add-wine__form__group">
        <label for="grapes">Grapes</label><br>
        <input type="text" name="grapes" v-model="form.grapes" ref="grapes" />
      </div>
      <button @click.prevent="validate()" class="btn btn--alt">Save</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: null,
        year: null,
        producer: null,
        grapes: null,
        region: null
      }
    }
  },
  methods:{
    validate() {
      if (this.form.name && this.form.year && this.form.producer) {
        this.save();
      } else {
        if (!this.form.name) {
          this.$refs.name.classList.add('error');
        }
        if (!this.form.year) {
          this.$refs.year.classList.add('error');
        }
        if (!this.form.producer) {
          this.$refs.producer.classList.add('error');
        }
      }
    },
    save() {
      this.$parent.$emit('wineSaved', this.form);
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/global.scss';

.add-wine {
  margin-top: 20px;

  &__form {
    background-color: $grey;
    width: 300px;

    &__group {
      margin-bottom: 10px;

      input {
        width: 100%;
        border-color: transparent;
        padding: 6px 10px;

        &.error {
          border-color: $red;
        }
      }
    }
  }
}
</style>
