<template lang="html">
  <div class="wine-card">
    <p class="wine-card__name" v-html="wine.name" />
    <p v-html="wine.year" />
    <p v-html="wine.producer" />
    <button @click="toggle()" class="btn wine-card__button">Read more</button>

    <transition name="fade">
      <WineDetails v-if="showDetails" :wine="wine" />
    </transition>
  </div>
</template>

<script>
import WineDetails from './WineDetails.vue';
export default {
  props: { wine: Object },
  components: {
    WineDetails
  },
  data() {
    return {
      showDetails: false
    }
  },
  methods: {
    toggle() {
      this.showDetails = !this.showDetails;
    }
  },
  mounted() {
    this.$on('close', () => {
      this.showDetails = false;
    });
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/global.scss';

.wine-card {
  padding: 40px 15px;
  text-align: center;
  height: 100%;
  background: $white;
  display: flex;
  flex-direction: column;

  &__name {
    font-size: 22px;
    flex-grow: 1;
  }

  &__button {
    margin-top: 15px;
  }
}
</style>
