<template lang="html">
  <div class="wines">
    <div class="wines__list">
      <div v-for="(wine, index) in wines"
        class="wines__list__item"
        :key="index"
      >
        <WineCard :wine="wine" />
      </div>
    </div>
    <button class="btn btn--alt btn--lg" @click="toggle()">Add wine to collection</button>
    <transition name="fade">
      <div v-if="addWineIsOpen">
        <AddWine />
      </div>
    </transition>
  </div>
</template>

<script>
import WineCard from './WineCard.vue';
import AddWine from './AddWine.vue';

export default {
  components: {
    WineCard,
    AddWine
  },
  data() {
    return {
      addWineIsOpen: false,
    }
  },
  props: { wines: Array },
  methods:{
    toggle() {
      this.addWineIsOpen = !this.addWineIsOpen;

      // scroll to bottom of page to show form
      setTimeout(() => {
        window.scrollTo({
          top: window.innerHeight,
          behavior: 'smooth',
        });
      }, 10);
    },
  },
  mounted() {
    this.$on('wineSaved', () => {
      this.toggle();
    });
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/global.scss';

.wines {
  margin: $wineListMargin 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$wineListMargin/2};

    &__item {
      width: calc(25% - #{$wineListMargin});
      margin: 0 #{$wineListMargin/2} $wineListMargin;

      @media (max-width: $breakpoint) {
        width: calc(50% - #{$wineListMargin});
      }
    }
  }
}
</style>
