<template lang="html">
  <div class="wine-details">
    <button @click="close()" class="wine-details__close"></button>
    <div class="wine-details__content">
        <p v-html="wine.name" />
        <p v-html="wine.year" />
        <p v-html="wine.producer" />
        <p v-if="wine.region" v-html="wine.region" />
        <p v-if="wine.grapes" v-html="wine.grapes" />
    </div>
  </div>
</template>

<script>
export default {
  props: { wine: Object },
  data() {
    return {
      showDetails: false
    }
  },
  methods: {
    close() {
      this.$parent.$emit('close');
    },
    handleKeyup(event) {
      if (event.keyCode === 27) {
        this.close();
      }
    }
  },
  created: function() {
    document.addEventListener('keyup', this.handleKeyup);
  },
  destroyed: function() {
    document.removeEventListener('keyup', this.handleKeyup);
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/global.scss';

.wine-details {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    height: 40px;
    width: 40px;
    padding: 0;

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $black;
      display: block;
      transform: rotate(45deg);
      transform-origin: center;
    }

    &::after {
      transform: rotate(135deg);
    }
  }

  &__content {
    font-size: 1.5em;
  }
}
</style>
