<template>
  <div id="app">
    <h1>My wine collection</h1>
    <div class="sort">
        sort:
        <select v-model="sorting">
          <option value="default">default</option>
          <option value="sortingName">by name</option>
          <option value="year">by year</option>
        </select>
    </div>

    <WineList :wines="sortedWines" @wineSaved="addWineToList" :filter="filterProducer"/>
  </div>
</template>

<script>
import sortBy from 'lodash/sortBy';
import forEach from 'lodash/forEach';
import WineList from './components/WineList.vue';

export default {
  name: 'app',
  components: {
    WineList,
  },
  data() {
    return {
      wines: [
        {
          name: 'Brunello di Montalcino',
          producer: 'Altesino',
          year: 2010,
          region: 'Toscana',
          grapes: '100% Sangiovese Grosso'
        },
        {
          name: 'Mercurey 1. Cru Les Crêts Suremain',
          producer: 'Suremain',
          year: 2012,
          region: 'Bourgogne',
          grapes: '100% Pinot noir'
        },
        {
          name: 'Special Cuvée',
          producer: 'Bollinger Champagne',
          year: 2010,
          region: 'Champagne',
          grapes: '60% Pinot Noir, 25% Chardonnay, 15% Pinot Meunier.'
        },
        {
          name: 'Chablis La Pierrelée',
          producer: 'La Chablisienne',
          year: 2017,
          region: 'Bourgogne',
          grapes: '100% Chardonnay'
        },
        {
          name: 'Brunello di Montalcino Montosoli',
          producer: 'Altesino',
          year: 2014,
          region: 'Toscana',
          grapes: '100% Sangiovese Grosso'
        },
        {
          name: 'Barolo Terlo',
          producer: 'Luigi Einaudi',
          year: 2012,
          region: '',
          grapes: ''
        },
      ],
      sorting: 'default',
      filterProducer: [],
    }
  },
  computed: {
    wineProducers() {
      const producers = this.wines;
      // filter producers and remove duplicates
      return [ ...new Set(producers.map(wine => wine.producer)) ];
    },
    sortedWines() {
      const filteredWines = this.wines;
      forEach(filteredWines, (wine) => {
        // add lowercase name for correct name sorting
        const sortingString = { sortingName: wine.name.toLowerCase() };
        Object.assign(wine, sortingString);
      });
      if (this.sorting === 'default') {
        return filteredWines;
      } else {
        return sortBy(filteredWines, [this.sorting]);
      }
    }
  },
  methods: {
    addWineToList(event) {
      this.wines.push(event);
    },
  },
}
</script>

<style lang="scss">
@import 'assets/scss/global.scss';

#app {
  max-width: $containerWidth;
  margin: 50px auto;

  @media (max-width: $breakpoint) {
    margin: 50px $wineListMargin;
  }
}

.sort {
    text-align: right;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;

  @media (max-width: $breakpoint) {
    font-size: 30px;
  }
}
</style>
